.user-wrapper {
    max-width: 395px;
    width: 100%;
}

.present {
    display: flex;
    align-items: center;
}

.present-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #636363;
    font-size: 18px;
}

.present-link {
    font-size: 16px;
    line-height: 22px;
    color: #0050B3;
    font-weight: 600;
    text-decoration: none;
}

.user-post {
    display: flex;
    justify-content: space-between;
}

.user-post__item:first-child {
    margin-right: 30px;
}

.post-user__img-wrapper {
    width: 85px;
}

.post-user__img {
    width: inherit;
    object-fit: cover;
    border-radius: 50%;
}


.user-post__name {
    font-size: 24px;
    margin-bottom: 30px;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friends-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.friend-name {
    font-size: 16px;
}

.user-profile__wrapper {
    display: flex;
    display: flex;
    width: 100%;
    max-width: inherit;
    justify-content: space-between;
}

.user-page__post {
    height: 150px;
}

.about-user span b {
    color: #0050B3;
}

.user-page__post:first-of-type {
    margin-right: 24px;
}

.user-page__post {
    justify-content: flex-start;
}

.user-page__container {
    width: 100%;
    max-width: 730px;
}


