.dialog-post {
    width: 100%;
    height: auto;
}

.dialogs-content {
    display: flex;
    padding: 16px;
}

.dialog-user-list {
    padding-right: 43px;
    border-right: 1px solid #0050B3;
    flex-basis: 19%;
}

.dialog-user-name {
    list-style: inside;
    padding: 20px 0;
    cursor: pointer;
}

.dialog-messages {
    padding-left: 15px;
    flex-basis: 81%;
}

.dialog-user-name > .active {
    color: #003A8C;
    font-size: 21px;
}

.dialog-user {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.dialog-user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.dialog-user__profile > .user-name {
    margin-left: 0;
}

.dialog-user__text {
    width: 515px;
    padding: 20px 15px;
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-left: 5px;
}

.add-file {
    cursor: pointer;
}

.send-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textarea-block {
    width: 85%;
}

.textarea-block textarea {
    font-size: 16px;
    padding: 20px;
    line-height: 22px;
    color: #8C8C8C;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    border: 1px solid #cecece;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.message-btn {
    border: none;
    background: none;
}

/*.dialog-user::before {*/
/*    content: '';*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    background: url("../../image/user.svg") no-repeat center top / cover;*/
/*    margin-right: 20px;*/
/*}*/
